<main class="bg-white w-screen">
  <Exhibition::Header />
  <article class="exhibition w-full">
    <section>
      <div class="flex flex-col md:space-x-4 space-y-2 md:space-y-0 md:flex-row md:justify-between dates md:pt-4">
        <div class="w-full md:w-1/2">
          <a href="https://acfny.org/exhibition/unmute/" target="_blank" rel="noopener noreferrer">
            <Exhibition::HeaderMap 
              @place="acfny" />
            <Exhibition::Details
              @details={{this.details.acfny}}
            />
          </a>
        </div>
        <div class="w-full md:w-1/2">
          <a href="https://undercurrent.nyc/exhibitions-and-events/2021/9/22/unmute" target="_blank" rel="noopener noreferrer">
            <Exhibition::HeaderMap 
              @place="undercurrent" />
            <Exhibition::Details
              @details={{this.details.undercurrent}}
            />
          </a>
        </div>
      </div>
    </section>
    <section>
      <div class="anchor" id="about" />
      <Exhibition::About />
    </section>
    <section class="border-black border-t">
      <Exhibition::Credits />
    </section>

    <section class="full-width">
      <div id="acfny" class="anchor" />
      <Exhibition::MapBanner
        @details={{this.details.acfny}}
      />
      <Exhibition::Map
        @place="acfny"
        @data={{@artworks.acfny}}
        />
    </section>
    <section class="full-width">
      <div id="undercurrent" class="anchor" />
      <Exhibition::MapBanner
        @details={{this.details.undercurrent}}
      />
      <Exhibition::Map 
        @place="undercurrent"
        @data={{@artworks.undercurrent}}
        />
    </section>
      

    <section class="border-black border-t">
      <div id="artists" class="anchor" />
      <ArtistsList />
    </section>

    <section class="full-width">
      <div id="artwork" class="anchor" />
      <Exhibition::MapBanner
        @details={{this.details.acfny}}
      />
      <Exhibition::ArtList
        @place="acfny"
        @data={{@artworks.acfny}}
        />
    </section>
    <section class="full-width">
      <Exhibition::MapBanner
        @details={{this.details.undercurrent}}
      />
      <Exhibition::ArtList 
        @place="undercurrent"
        @data={{@artworks.undercurrent}}
        />
    </section>
    <!-- <section class=""> -->
    <!--   <div id="videos" /> -->
    <!-- </section> -->
    <section class="">
      <div id="signup" class="anchor"/>
      <UndercurrentSignup />
    </section>
  </article>
  <Footer @useHope={{false}} />
</main>
