<div class="pb-8">
  {{#each @data as |artwork|}}
    <div class="art-list pt-8 main-margins flex flex-col">
      <div id="{{artwork.id}}" class="anchor" />
        <div class="flex justify-end {{if (eq @place "acfny") "text-unred" "text-unblue"}}">
          {{svg-jar (concat "token-" artwork.token) class="h-8 fill-current"}}
      </div>
      <div class="flex flex-row">
        <div class="
          md:w-3/5
          ">
          <p class="text-justify text-xl">{{html-safe artwork.blurb}}</p>
          <p class="pt-2">/{{artwork.author}}</p>
        </div>
        <div class="
          pl-6
          md:w-2/5
          flex flex-col justify-between items-end
          ">
          <div class="flex flex-col items-end">
            <h2 class="text-4xl font-semibold">
              {{artwork.artists}}
              {{#if artwork.title}}
                <br />
                <small><span class="italic">{{artwork.title}}</span>, {{artwork.year}}</small>
              {{/if}}
            </h2>
            {{#if artwork.description}}
              <p class="pb-6">{{artwork.description}}</p>
            {{/if}}


            {{#each artwork.pieces as |piece|}}
              <div class="pb-6"
                vocab="https://schema.org/" 
                typeof={{piece.type}}
                >
                <h3 class="text-2xl font-semibold text-right"
                  property="creator">{{piece.artists}}<br />
                  {{#if piece.titles}}
                    {{#each piece.titles as |title|}}
                      <span property="name" class="italic">{{title}}</span>, 
                    {{/each}}
                  {{else}}
                    <span class="italic" property="name">
                      {{piece.title}}
                    </span>, 
                  {{/if}}
                  <span property="copyrightYear">{{piece.year}}</span>
                </h3>
                <p class="text-right" property="material">
                  {{html-safe piece.material}}
                </p>
                <p class="text-right">{{piece.dimensions}}</p>
                <p class="hidden" property="url">https://unmute.nyc/exhibition/#{{artwork.id}}</p>
                <p class="hidden" property="datePublished">2021-09-22</p>
                {{#if piece.duration}}
                  <p class="hidden" property="duration">{{piece.duration}}</p>
                {{/if}}
                {{#if piece.height}}
                  <p class="hidden" property="height">{{piece.height}}</p>
                {{/if}}
                {{#if piece.width}}
                  <p class="hidden" property="width">{{piece.width}}</p>
                {{/if}}
                {{#if piece.depth}}
                  <p class="hidden" property="depth">{{piece.depth}}</p>
                {{/if}}
                  <p class="hidden" property="description">{{artwork.blurb}}</p>
                  <p class="hidden" property="editor">{{artwork.author}}</p>
              </div>
            {{/each}}
            <p class="font-semibold">/Video {{artwork.video.title}}</p>
            <p><a href={{artwork.video.link}} target="_blank"
                rel="noopener noreferrer"
                >{{artwork.video.link}}</a></p>
          </div>
          <a href="#{{@place}}" class="justify-self-end">Back to Map</a>
        </div>
      </div>
    </div>
  {{/each}}
</div>
