<div class="map-banner {{if 
  (eq @details.place "Austrian Cultural Forum") 
  " bg-unred" 
  " bg-unblue"
  }}"
  vocab="https://schema.org/" typeof="Organization" 
>
  <div class="w-full md:w-max flex-none flex flex-col justify-end
    ">
    <a href={{@details.url}} 
      target="_blank"
      rel="noopener noreferrer"
      class="flex flex-row justify-between">
      <div 
        class="pr-4 flex flex-col justify-center">
        <h2 class="map-banner-h2" property="name">{{@details.place}}</h2>
        <div property="address" typeof="PostalAddress">
          <p property="streetAddress">{{@details.addr1}}</p>
          <p>
            <span property="addressLocality">
              {{@details.locality}}, {{@details.region}}
            </span>
            <span property="postalCode">
              {{@details.postcode}}
            </span>
          </p>
        </div>
      </div>
      <div class="w-5">
        {{svg-jar "slash" title="Slash" class="fill-current h-full"}}
      </div>
      <div class="pl-4 flex flex-col justify-center" 
        property="openingHours" 
        content={{@details.schemaHours}}>
        <p class="text-right">{{@details.days}}</p>
        <p class="text-right">{{@details.hours}}</p>
        <p class="text-right">Free admission</p>
      </div>
    </a>
  </div>
  <a href={{@details.directions.link}} target="_blank" rel="noopener noreferrer"
    class="flex flex-row w-full md:w-1/3">
    <div class="flex justify-center items-center p-4">
      {{svg-jar (concat @details.slug "-marker") class="fill-current h-10 md:h-16"}}
    </div>
    <div class="flex flex-col justify-center xs">
      <p><span class="font-semibold uppercase">subway:</span> {{@details.directions.subway}}</p>
      <p><span class="font-semibold uppercase">bus:</span> {{@details.directions.bus}}</p>
    </div>
  </a>
</div>
