<div class="exhibition-map-container main-margins"
  {{did-insert this.startPulseAndClickHandlers}}
  >
  {{#if (eq @place "acfny")}}
    <div class="py-6">
      {{svg-jar "acfny-mezzanine-ex-map"}}
    </div>
    <div class="border-black border-t py-6">
      {{svg-jar "acfny-gallery-ex-map"}}
    </div>
    <div class="border-black border-t py-6">
      {{svg-jar "acfny-entrance-ex-map"}}
    </div>
  {{else}}
    <div class="py-6">
      {{svg-jar "undercurrent-ex-map"}}
    </div>
  {{/if}}
</div>
