<div role="button" class="pt-5">
  <a href={{@tile.url}}>
    <h2 class="font-bold text-xl pb-2">{{@tile.title}}</h2>
    <ul class="space-y-1 md:space-y-2 pb-4">
      {{#each @tile.dates as |date|}}
        <li class="pb-1 md:pb-0 leading-tight text-sm md:text-base">
          <span class="font-bold">{{date.description}}</span><br />
          {{date.dates}}
        </li>
      {{/each}}
    </ul>
    <img src={{@tile.imgur}} alt={{@tile.title}} />
  </a>
</div>
